*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(65deg,rgb(181,41,231),rgb(216,43,43));
    color: white;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 24px;
}
h1, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 5px;
    font-size: 20px;
    border: none;
    background: white;
    
}
form button{
    background: rgb(47, 47, 194);
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover{
    background: #4eb7e7;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    min-width: 30%;
    list-style: none;
}
.nested-div{
    margin: 8px;
    background: white;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nested-div li{
    flex: 1;
}
.edit-btn, .del-btn, .mark-btn{
    background: red;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 10px;
}
.edit-btn{
    background: rgb(23, 23, 110);
}
.mark-btn{
    background: green;
}
.list-item{
    padding: 0px 5px;
}
.marked{
    background-color: rgb(86, 40, 90);
    color: white;
}

